@model IEnumerable<ToDoAndNotes3.Models.Project>
@{

}
<aside class="sidebar" id="sidebar">
    <nav class="days">
        <ul class="days-list">
            <li class="nav-link">
                <a asp-controller="Home" asp-action="Main" asp-route-daysViewName="@DaysViewName.Today">
                    <span class="material-symbols-outlined md-24 black">
                        calendar_today
                    </span>
                    Today
                </a>
            </li>
            <li class="nav-link">
                <a asp-controller="Home" asp-action="Main" asp-route-daysViewName="@DaysViewName.Upcoming">
                    <span class="material-symbols-outlined md-24 black">
                        calendar_month
                    </span>
                    Upcoming
                </a>
            </li>
            <li class="nav-link">
                <a asp-controller="Home" asp-action="Main" asp-route-daysViewName="@DaysViewName.Unsorted">
                    <span class="material-symbols-outlined md-24 black">
                        unfold_more
                    </span>
                    Unsorted
                </a>
            </li>
            <li class="nav-link">
                <a asp-controller="Home" asp-action="Labels">
                    <span class="material-symbols-outlined md-24 black">
                        label
                    </span>
                    Labels
                </a>
            </li>
        </ul>
    </nav>
    <nav class="projects">
        <div class="projects-preview">
            <p>Projects</p>
            <form asp-controller="Projects" asp-action="CreatePartial" method="get" class="js-get-partial-form" data-target-modal-id="create-project-modal">
                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn btn-plus" type="submit">
                    <span class="material-symbols-outlined md-24">
                        add
                    </span>
                </button>
            </form>
            @* modal (ajax request content) *@
            <div id="create-project-modal" class="modal js-modal">
            </div>
        </div>
        <ul class="projects-list">
            @foreach (var project in Model)
            {
                <li class="project nav-link dropdown">
                    <a asp-controller="Home" asp-action="Main" asp-route-projectId="@project.ProjectId">
                        <div class="nowrap-ellipsis">@project.Title</div>
                        <span class="material-symbols-outlined md-24 black js-dropdown-btn js-pass-data-to"
                              data-dropdown-content-id="project-dropdown-content" data-receiver-id="project-dropdown-content" data-id="@project.ProjectId">
                            more_horiz
                        </span>
                    </a>
                </li>
            }
        </ul>
        @* modal (ajax request content) *@
        <div id="edit-project-modal" class="modal js-modal">
        </div>
        @* TEST (to del) *@
        <div id="delete-project-modal" class="modal js-modal">
        </div>
        <div class="dropdown-content js-dropdown-content" id="project-dropdown-content">
            <form asp-controller="Projects" asp-action="EditPartial" method="get" class="js-get-partial-form" data-target-modal-id="edit-project-modal">
                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn" type="submit">Edit</button>
            </form>
            <form asp-controller="Projects" asp-action="Duplicate">
                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn" type="submit">Duplicate</button>
            </form>
            <form asp-controller="Projects" asp-action="SoftDelete">
                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn" type="submit">Remove</button>
            </form>
            @* TEST (to del) *@
            <form asp-controller="Projects" asp-action="DeletePartial" method="get" class="js-get-partial-form" data-target-modal-id="delete-project-modal">
                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn" type="submit">Delete</button>
            </form>
        </div>
    </nav>
</aside>