@model IEnumerable<ToDoAndNotes3.Models.Project>
@{
    string updateUrl = "/Home/SidebarPartial";
    string updateTargetId = "sidebar";
}

<nav class="days">
    <ul class="days-list">
        <li class="nav-link js-nav-link">
            <form class="js-get-partial-ajax" method="get" asp-controller="Home" asp-action="Main" asp-route-daysViewName="@DaysViewName.Today"
                  asp-route-isGetPartial="true" data-partial-id="main">
                <button class="link btn btn-clean" type="submit">
                    <span class="material-symbols-outlined md-24 black">
                        calendar_today
                    </span>
                    Today
                </button>
            </form>
        </li>
        <li class="nav-link js-nav-link">
            <form class="js-get-partial-ajax" method="get" asp-controller="Home" asp-action="Main" asp-route-daysViewName="@DaysViewName.Upcoming"
                  asp-route-isGetPartial="true" data-partial-id="main">
                <button class="link btn btn-clean" type="submit">
                    <span class="material-symbols-outlined md-24 black">
                        calendar_month
                    </span>
                    Upcoming
                </button>
            </form>
        </li>
        <li class="nav-link js-nav-link">
            <form class="js-get-partial-ajax" method="get" asp-controller="Home" asp-action="Main" asp-route-daysViewName="@DaysViewName.Unsorted"
                  asp-route-isGetPartial="true" data-partial-id="main">
                <button class="link btn btn-clean" type="submit">
                    <span class="material-symbols-outlined md-24 black">
                        unfold_more
                    </span>
                    Unsorted
                </button>
            </form>
        </li>
        <li class="nav-link js-nav-link">
            <form class="js-get-partial-ajax" method="get" asp-controller="Home" asp-action="Labels" asp-route-isGetPartial="true" 
                    data-partial-id="main">
                <button class="link btn btn-clean" type="submit">
                    <span class="material-symbols-outlined md-24 black">
                        label
                    </span>
                    Labels
                </button>
            </form>
        </li>
    </ul>
</nav>
<nav class="projects">
    <div class="projects-preview">
        <p>Projects</p>
        <form asp-controller="Projects" asp-action="CreatePartial" method="get" class="js-get-modal-ajax" data-target-modal-id="create-project-modal">
            <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
            <button class="btn btn-plus" type="submit">
                <span class="material-symbols-outlined md-24">
                    add
                </span>
            </button>
        </form>
        @* modal (ajax request content) *@
        <div id="create-project-modal" class="modal js-modal">
        </div>
    </div>

    <div id="projects-list">
        @* modal (ajax)*@
        <div id="edit-project-modal" class="modal js-modal">
        </div>
        <div id="delete-project-modal" class="modal js-modal">
        </div>
        <div class="dropdown-content js-dropdown-content" id="project-dropdown-content">
            <form method="get" asp-controller="Projects" asp-action="EditPartial" class="js-get-modal-ajax" data-target-modal-id="edit-project-modal">
                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn" type="submit">
                    <span class="material-symbols-outlined md-20">
                        edit
                    </span>Edit
                </button>
            </form>
            <form asp-controller="Projects" asp-action="Duplicate" class="js-post-modal-with-partial-update-ajax" 
                  data-update-partial-id="@updateTargetId" data-update-action="@updateUrl">
                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn" type="submit">
                    <span class="material-symbols-outlined md-20">
                        control_point_duplicate
                    </span>Duplicate
                </button>
            </form>
            <form asp-controller="Projects" asp-action="SoftDelete">
                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn red" type="submit">
                    <span class="material-symbols-outlined md-20">
                        delete
                    </span>Move to bin
                </button>
            </form>
            @* TEST (to del) *@
            <form method="get" asp-controller="Projects" asp-action="DeletePartial" class="js-get-modal-ajax" data-target-modal-id="delete-project-modal">
                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn red" type="submit">
                    <span class="material-symbols-outlined md-20">
                        delete
                    </span>Delete forever
                </button>
            </form>
        </div>

        <ul class="projects-list">
            @foreach (var project in Model)
            {
                <li class="project nav-link dropdown js-nav-link">
                    <form class="js-get-partial-ajax" method="get" asp-controller="Home" asp-action="Main" asp-route-projectId="@project.ProjectId"
                          asp-route-isGetPartial="true" data-partial-id="main">
                        <button class="link btn btn-clean" type="submit">
                            <div class="nowrap-ellipsis">@project.Title</div>
                            <span class="material-symbols-outlined md-24 black js-dropdown-btn js-update-action-with-id"
                                  data-dropdown-content-id="project-dropdown-content" data-receiver-id="project-dropdown-content" data-id="@project.ProjectId">
                                more_horiz
                            </span>
                        </button>
                    </form>
                </li>
            }
        </ul>

    </div>
</nav>