@model NoteLabelsViewModel

@{
    Layout = "_ModalContentLayout";
    string updateUrl = ViewData["ReturnUrl"] + "&isGetPartial=true";
}

@section ModalHeaderContent {
    <div class="modal-header-left">
        <div class="modal-title">Delete</div>
    </div>
}

<div>Are you sure you want to delete <strong>"@Model.Note.Title"</strong> note?</div>
<form method="post" asp-controller="Notes" asp-action="Delete" asp-route-id="@Model.Note.NoteId" asp-route-returnUrl="@ViewData["ReturnUrl"]"
      class="js-post-modal-with-update-ajax" data-target-modal-id="delete-note-modal"
      data-update-partial-id="tasks-notes-list" data-update-action="@updateUrl">
    @Html.AntiForgeryToken()
    <div class="btns-ok-cancel mt-3">
        <button class="btn btn-cancel js-close" type="button">Cancel</button>
        <button class="btn btn-ok" type="submit">Ok</button>
    </div>
</form>