@model NoteLabelsViewModel

@{
    Layout = "_ModalContentLayout";
    ViewData["SelectLabels"] = new SelectList(Model.Labels, "LabelId", "Title");
    ViewData["SelectProjects"] = new SelectList(Model.Projects, "ProjectId", "Title");
    string projectSelect = JsonSerializer.Serialize(ViewBag.SelectProjects); // [{"Text":"..", "Value":".."},{..},{..}]
    string labelsSelect = JsonSerializer.Serialize(ViewBag.SelectLabels);    // [{"Text":"..", "Value":".."},{..},{..}]

    string updateUrl = ViewData["ReturnUrl"] + "&isGetPartial=true";
    string updateTargetId = "main";
}

@section ModalHeaderContent {
    <div class="modal-header-left">
        <div class="modal-title">Edit</div>
        <div class="select-container">
            <span class="material-symbols-outlined md-24 black select-togle-icon">
                arrow_drop_down
            </span>
            <div class="js-set-projects-virtual-select" data-target-select-list="@projectSelect" data-target-selected="@Model.Note.ProjectId"></div>
        </div>
    </div>
    <span class="material-symbols-outlined md-24 black btn js-dropdown-btn js-update-action-with-id"
          data-dropdown-content-id="current-note-dropdown-content" data-receiver-id="current-note-dropdown-content" data-id="@Model.Note.NoteId">
        more_horiz
    </span>
    <div class="dropdown">
        <div class="dropdown-content js-dropdown-content" id="current-note-dropdown-content">
            <form asp-controller="Notes" asp-action="Duplicate" class="js-post-modal-with-partial-update-ajax" data-update-partial-id="@updateTargetId"
                  data-update-action="@updateUrl">
                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn" type="submit">
                    <span class="material-symbols-outlined md-20">
                        control_point_duplicate
                    </span>Duplicate
                </button>
            </form>
            <form asp-controller="Notes" asp-action="SoftDelete" class="js-post-modal-with-partial-update-ajax" data-update-partial-id="@updateTargetId"
                  data-update-action="@updateUrl">
                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn red" type="submit">
                    <span class="material-symbols-outlined md-20">
                        delete
                    </span>Move to bin
                </button>
            </form>
        </div>
    </div>
}

<form method="post" asp-controller="Notes" asp-action="EditPartial" asp-route-returnUrl="@ViewData["ReturnUrl"]"
      class="js-post-modal-with-partial-update-ajax" data-target-modal-id="edit-task-modal"
      data-update-partial-id="@updateTargetId" data-update-action="@updateUrl">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="Note.NoteId" />
    <input type="hidden" asp-for="Note.IsDeleted" />
    <input type="hidden" asp-for="Note.ProjectId" />
    <input type="hidden" asp-for="Note.ShortDescription" />
    <input type="hidden" asp-for="Note.NoteDescription.NoteDescriptionId" />
    <input type="hidden" asp-for="Note.NoteDescription.NoteId" />
    <input type="hidden" asp-for="Note.NoteDescription.Description" />

    <div class="note-content">
        <div>
            <textarea asp-for="Note.Title" placeholder="Note name" class="input-borderless js-textarea-auto" rows="1"></textarea>
            <span asp-validation-for="Note.Title"></span>
        </div>
        <div class="mt-1">
            <span asp-validation-for="Note.NoteDescription.Description"></span>
            <div>
                <div class="scroll-quill js-quill">
                    @Html.Raw(Model?.Note?.NoteDescription?.Description)
                </div>
            </div>
        </div>
        <div class="note-tools mt-1">
            <div class="date-time-picker js-date-time-picker">
                <div class="picker-preview date-picker js-date-picker">
                    <span class="material-symbols-outlined md-20 black picker-preview-icon">
                        date_range
                    </span>
                    <input asp-for="Note.DueDate" class="picker-input js-picker-input" placeholder="Date/time" />
                    <span class="material-symbols-outlined md-20 black picker-clear-icon js-clear-input">
                        close
                    </span>
                    <span asp-validation-for="Note.DueDate"></span>
                </div>
                <div class="picker-preview time-picker js-time-picker">
                    <span class="material-symbols-outlined md-20 black picker-preview-icon">
                        access_time
                    </span>
                    <input asp-for="Note.DueTime" class="picker-input js-picker-input" placeholder="Time" />
                    <span class="material-symbols-outlined md-20 black picker-clear-icon js-clear-input">
                        close
                    </span>
                    <span asp-validation-for="Note.DueTime"></span>
                </div>
            </div>
            <div class="labels-section select-container">
                <input type="hidden" asp-for="SelectedLabelsId" />
                <span class="material-symbols-outlined md-24 black select-togle-icon">
                    label
                </span>
                <div id="select-labels"></div>
                <div class="js-set-labels-virtual-select" data-target-select-list="@labelsSelect" data-target-selected="@Model.SelectedLabelsId"></div>
            </div>
        </div>
    </div>

    <div class="btns-ok-cancel mt-3">
        <button class="btn btn-cancel js-close" type="button">Cancel</button>
        <button class="btn btn-ok" type="submit">Ok</button>
    </div>
</form>