@model Project

@{
    Layout = "_ModalContentLayout";
}

@section ModalHeaderContent {
    <div class="modal-header-left">
        <div class="modal-title">Edit</div>
    </div>
    <div class="dropdown">
        <span class="material-symbols-outlined md-24 black btn js-dropdown-btn js-pass-data-to"
              data-dropdown-content-id="current-project-dropdown-content" data-receiver-id="current-project-dropdown-content" data-id="@Model.ProjectId">
            more_horiz
        </span>
        <div class="dropdown-content js-dropdown-content" id="current-project-dropdown-content">
            <form asp-controller="Projects" asp-action="Duplicate">
                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn" type="submit">Duplicate</button>
            </form>
            <form asp-controller="Projects" asp-action="SoftDelete">
                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn" type="submit">Remove</button>
            </form>
        </div>
    </div>
}

<form method="post" asp-controller="Projects" asp-action="EditPartial" asp-route-returnUrl="@ViewData["ReturnUrl"]"
      class="js-post-partial-form" data-target-modal-id="edit-project-modal">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="ProjectId" />
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="IsDeleted" />
    <input type="hidden" asp-for="CreatedDate" />
    <div>
        <input asp-for="Title" placeholder="Project name" class="input-border w-100" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="btns-ok-cancel mt-3">
        <button class="btn btn-cancel js-close" type="button">Cancel</button>
        <button class="btn btn-ok" type="submit">Ok</button>
    </div>
</form>