@model GeneralViewModel
@inject UserManager<User> UserManager
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Main";

    // sort value
    var dateOrder = TempData["DateOrder"] as string;
    string? hideCompletedString = TempData["HideCompleted"]?.ToString()?.ToLower();
    Boolean.TryParse(hideCompletedString, out bool hideCompleted);
    TempData.Keep("DateOrder");
    TempData.Keep("HideCompleted");

    if (dateOrder == "ascending")
    {
        dateOrder = "descending";
    }
    else if (dateOrder == "descending")
    {
        dateOrder = "ascending";
    }
    if (hideCompleted == false)
    {
        hideCompleted = true;
    }
    else if (hideCompleted == true)
    {
        hideCompleted = false;
    }
}

@section Header 
{
    <partial name="_HeaderPartial" />
}
@section Sidebar
{
    <partial name="_SidebarPartial" model="Model.Projects" />
}

<main id="main">
    <div class="main-header">
        <div class="main-header-left">
            <div class="main-header-title nowrap-ellipsis">@ViewData["DisplayDataTitle"]</div>
            <div class="main-header-buttons">
                @* modal (ajax request content) *@
                <div id="create-task-modal" class="modal js-modal">
                </div>
                <div id="create-note-modal" class="modal js-modal">
                </div>
                <form asp-controller="Tasks" asp-action="CreatePartial" method="get" class="js-get-partial-form" data-target-modal-id="create-task-modal">
                    <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                    <button class="btn btn-action"  type="submit">
                        <span class="material-symbols-outlined md-30">
                            add_task
                        </span>
                    </button>
                </form>
                <form asp-controller="Notes" asp-action="CreatePartial" method="get" class="js-get-partial-form" data-target-modal-id="create-note-modal">
                    <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                    <button class="btn btn-action" type="submit">
                        <span class="material-symbols-outlined md-30">
                            note_add
                        </span>
                    </button>
                </form>
                <button class="btn btn-action js-dropdown-btn" data-dropdown-content-id="filter-dropdown-content">
                    <span class="material-symbols-outlined md-30">
                        filter_alt
                    </span>
                </button>
                <div class="dropdown-content js-dropdown-content" id="filter-dropdown-content">
                    <form asp-controller="Home" asp-action="ChangeTempDataValue" class="js-change-temp-data">
                        <input hidden type="text" name="tempDataName" value="DateOrder">
                        <input hidden type="text" name="tempDataValue" value="@dateOrder">
                        <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                        <button class="btn" type="submit">
                            <span class="material-symbols-outlined md-24 js-dropdown-btn">
                                swap_vert
                            </span>
                            @if (dateOrder == "descending")
                            {
                                @Html.Raw("Due date (asc)")
                            }
                            else
                            {
                                @Html.Raw("Due date (desc)")
                            }
                        </button>
                    </form>
                    <form asp-controller="Home" asp-action="ChangeTempDataValue" class="js-change-temp-data">
                        <input hidden type="text" name="tempDataName" value="HideCompleted">
                        <input hidden type="text" name="tempDataValue" value="@hideCompleted.ToString()">
                        <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                        <button class="btn" type="submit">  
                            @if (hideCompleted == true)
                            {
                                <span class="material-symbols-outlined md-24 js-dropdown-btn">
                                    visibility
                                </span>
                            }
                            else
                            {
                                <span class="material-symbols-outlined md-24 js-dropdown-btn">
                                    visibility_off
                                </span>
                            }
                            Completed
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="main-header-right">
        </div>
    </div>
    <div class="main-container">
        <ul class="tasks">
            @foreach (var task in Model.Tasks)
            {
                <li class="task nav-link dropdown">
                    <a class="js-update-action-with-id" data-receiver-id="edit-task-form" data-id="@task.TaskId">
                        <form asp-controller="Tasks" asp-action="ToggleState" asp-route-id="@task.TaskId" class="is-done-form">
                            <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                            <button class="btn btn-clean" type="submit" onclick="event.stopPropagation()">
                                @if (task.IsCompleted)
                                {
                                    <span class="material-symbols-outlined md-24">
                                        radio_button_checked
                                    </span>
                                }
                                else
                                {
                                    <span class="material-symbols-outlined md-24">
                                        radio_button_unchecked
                                    </span>
                                }
                            </button>
                        </form>
                        <div class="task-content">
                            @if (task.IsCompleted)
                            {
                                <div class="nowrap-ellipsis line-through">@task.Title</div>
                            }
                            else
                            {
                                <div class="nowrap-ellipsis">@task.Title</div>
                            }
                            <div class="tools">
                                <div class="date-tools">
                                    @if(task?.DueDate != null){
                                        <span class="material-symbols-outlined md-20">
                                            date_range
                                        </span>
                                        <div>
                                            @task.DueDate
                                        </div>
                                    }
                                    @if (task?.DueTime != null)
                                    {
                                        <span>&nbsp</span>
                                        <span class="material-symbols-outlined md-20">
                                            access_time
                                        </span>
                                        <div>
                                            @task.DueTime
                                        </div>
                                    }
                                </div>
                                <div class="label-tools">
                                    @foreach (var taskLabel in task?.TaskLabels?.ToList())
                                    {
                                        if (taskLabel.Equals(task?.TaskLabels.First()))
                                        {
                                            <span class="material-symbols-outlined md-20">
                                                label
                                            </span>
                                        }
                                        <div class="tools-label">
                                            <div class="nowrap-ellipsis">
                                                @taskLabel?.Label?.Title
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <span class="material-symbols-outlined md-24 black js-dropdown-btn js-update-action-with-id"
                              data-dropdown-content-id="task-dropdown-content" data-receiver-id="task-dropdown-content" data-id="@task?.TaskId">
                            more_horiz
                        </span>
                    </a>
                </li>
            }
        </ul>
        @* modal (ajax) *@
        <div id="edit-task-modal" class="modal js-modal">
        </div>
        @* TEST (to del) *@
        <div id="delete-task-modal" class="modal js-modal">
        </div>
        <div class="dropdown-content js-dropdown-content" id="task-dropdown-content">
            <form id="edit-task-form" asp-controller="Tasks" asp-action="EditPartial" method="get" class="js-get-partial-form" data-target-modal-id="edit-task-modal">
                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn" type="submit">Edit</button>
            </form>
            <form asp-controller="Tasks" asp-action="Duplicate">
                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn" type="submit">Duplicate</button>
            </form>
            <form asp-controller="Tasks" asp-action="SoftDelete">
                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn" type="submit">Remove</button>
            </form>
            @* TEST (to del) *@
            <form asp-controller="Tasks" asp-action="DeletePartial" method="get" class="js-get-partial-form" data-target-modal-id="delete-task-modal">
                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn js-modal-btn" type="submit">Delete</button>
            </form>
        </div>
        <ul class="notes">
            @foreach (var note in Model.Notes)
            {
                <li class="note nav-link dropdown">
                    <a class="js-update-action-with-id" data-receiver-id="edit-note-form" data-id="@note.NoteId">
                        <div class="note-content">
                            <div class="nowrap-ellipsis">@note.Title</div>
                            <div class="nowrap-ellipsis note-description js-quill-json-to-text">@Html.Raw(@note?.ShortDescription)</div>
                            <div class="tools">
                                <div class="date-tools">
                                    @if (note?.DueDate != null)
                                    {
                                        <span class="material-symbols-outlined md-20">
                                            date_range
                                        </span>
                                        <div>
                                            @note.DueDate
                                        </div>
                                    }
                                    @if (note?.DueTime != null)
                                    {
                                        <span>&nbsp</span>
                                        <span class="material-symbols-outlined md-20">
                                            access_time
                                        </span>
                                        <div>
                                            @note.DueTime
                                        </div>
                                    }
                                </div>
                                <div class="label-tools">
                                    @foreach (var noteLabel in note?.NoteLabels?.ToList())
                                    {
                                        if (noteLabel.Equals(note?.NoteLabels.First()))
                                        {
                                            <span class="material-symbols-outlined md-20">
                                                label
                                            </span>
                                        }
                                        <div class="tools-label">
                                            <div class="nowrap-ellipsis">
                                                @noteLabel?.Label?.Title
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <span class="material-symbols-outlined md-24 black js-dropdown-btn js-update-action-with-id"
                              data-dropdown-content-id="note-dropdown-content" data-receiver-id="note-dropdown-content" data-id="@note?.NoteId">
                            more_horiz
                        </span>
                    </a>
                </li>
            }
        </ul>
        @* modal (ajax) *@
        <div id="edit-note-modal" class="modal js-modal">
        </div>
        @* TEST (to del) *@
        <div id="delete-note-modal" class="modal js-modal">
        </div>
        <div class="dropdown-content js-dropdown-content" id="note-dropdown-content">
            <form id="edit-note-form" asp-controller="Notes" asp-action="EditPartial" method="get" class="js-get-partial-form" data-target-modal-id="edit-note-modal">
                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn" type="submit">Edit</button>
            </form>
            <form asp-controller="Notes" asp-action="Duplicate">
                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn" type="submit">Duplicate</button>
            </form>
            <form asp-controller="Notes" asp-action="SoftDelete">
                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn" type="submit">Remove</button>
            </form>
            @* TEST (to del) *@
            <form asp-controller="Notes" asp-action="DeletePartial" method="get" class="js-get-partial-form" data-target-modal-id="delete-note-modal">
                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn js-modal-btn" type="submit">Delete</button>
            </form>
        </div>
        <ul class="tasks-with-notes">
            @for (int i = 0; i < 30; i++)
            {
                <li class="task nav-link dropdown">
                    <a>
                        <span class="material-symbols-outlined md-24 is-done-btn">
                            radio_button_unchecked
                        </span>
                        <div class="task-content">
                            <div class="nowrap-ellipsis">Task Lorem Ipsum is simply dummy text of the @i</div>
                            <div class="tools-row">
                                <div class="d-flex min-width-0">
                                    <span class="material-symbols-outlined md-20 black">
                                        date_range
                                    </span>
                                    <div class="nowrap-ellipsis">
                                        6 nov
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <span class="material-symbols-outlined md-20 black">
                                        label
                                    </span>
                                    <div class="nowrap-ellipsis">
                                        Dev
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="material-symbols-outlined md-24 black js-dropdown-btn" id="task-@i">
                            more_horiz
                        </span>
                    </a>
                    <div class="dropdown-content js-dropdown-content" id="task-@i">
                        <a href="#Edit">Edit</a>
                        <a href="#Remove">Remove</a>
                    </div>
                </li>
                <li class="note nav-link dropdown">
                    <a>
                        <div class="note-content">
                            <div class="nowrap-ellipsis">Note Lorem Ipsum is simply dummy text of the @i</div>
                            <div class="nowrap-ellipsis note-description">Lorem Ipsum is simply dummy text of the printing and typesetting</div>
                            <div class="tools-row">
                                <div class="d-flex min-width-0">
                                    <span class="material-symbols-outlined md-20 black">
                                        date_range
                                    </span>
                                    <div class="nowrap-ellipsis">
                                        6 nov
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <span class="material-symbols-outlined md-20 black">
                                        label
                                    </span>
                                    <div class="nowrap-ellipsis">
                                        Dev
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="material-symbols-outlined md-24 black js-dropdown-btn" id="note-@i">
                            more_horiz
                        </span>
                    </a>
                    <div class="dropdown-content js-dropdown-content" id="note-@i">
                        <a href="#Edit">Edit</a>
                        <a href="#Remove">Remove</a>
                    </div>
                </li>
            }
        </ul>
    </div>
</main>