@model GeneralViewModel
@inject UserManager<User> UserManager
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Main";


    var viewName = TempData["DaysViewName"];
    TempData.Keep("DaysViewName");

    if (viewName == null)
    {
        var projectId = TempData["CurrentProjectId"] as int?;
        TempData.Keep("CurrentProjectId");
        var title = Model.Projects.FirstOrDefault(p => p.ProjectId == projectId)?.Title;
        viewName = (title != null) ? title : "Unsorted";
    }
}

@section Header 
{
    <partial name="_HeaderPartial" />
}
@section Sidebar
{
    <partial name="_SidebarPartial" model="Model.Projects" />
}

<main id="main">
    <div class="main-header">
        <div class="main-header-left">
            <div class="main-header-title">@viewName</div>
            <div class="main-header-buttons">
                <form asp-controller="Tasks" asp-action="CreatePartial" method="get">
                    <button class="btn btn-action js-modal-btn" data-target-modal-id="create-task-modal" type="button">
                        <span class="material-symbols-outlined md-30">
                            add_task
                        </span>
                    </button>
                </form>
                @* modal (ajax request content) *@
                <div id="create-task-modal" class="modal js-modal">
                </div>
                <button class="btn btn-action js-modal-btn" data-target-id="add-note-modal">
                    <span class="material-symbols-outlined md-30">
                        note_add
                    </span>
                </button>
                <div id="add-note-modal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p>Some text in the Modal..</p>
                        @* <partial name="Task/Create" model="new ToDoAndNotes3.Models.Task()"/> *@
                    </div>
                </div>
                <button class="btn btn-action">
                    <span class="material-symbols-outlined md-30">
                        filter_alt
                    </span>
                </button>
            </div>
        </div>
        <div class="main-header-right">
        </div>
    </div>
    <div class="main-container">
        <ul class="tasks">
            @foreach (var task in Model.Tasks)
            {
                <li class="task nav-link dropdown">
                    <a>
                        @if (task.IsCompleted)
                        {
                            <span class="material-symbols-outlined md-24 is-done-btn">
                                radio_button_checked
                            </span>
                        }
                        else
                        {
                            <span class="material-symbols-outlined md-24 is-done-btn">
                                radio_button_unchecked
                            </span>
                        }
                        <div class="task-content">
                            <div class="nowrap-ellipsis">@task.Title</div>
                            <div class="tools">
                                <div class="date-tools">
                                    @if(task?.DueDate != null){
                                        <span class="material-symbols-outlined md-20">
                                            date_range
                                        </span>
                                        <div>
                                            @task.DueDate
                                        </div>
                                    }
                                    @if (task?.DueTime != null)
                                    {
                                        <span>&nbsp</span>
                                        <span class="material-symbols-outlined md-20">
                                            access_time
                                        </span>
                                        <div>
                                            @task.DueTime
                                        </div>
                                    }
                                </div>
                                <div class="label-tools">
                                    <span class="material-symbols-outlined md-20">
                                        label
                                    </span>
                                    @foreach (var taskLabel in task?.TaskLabels?.ToList())
                                    {
                                        <div class="tools-label">
                                            <div class="nowrap-ellipsis">
                                                @taskLabel?.Label?.Title
                                            </div>
                                        </div>
                                    }
@*                                     @if (task?.TaskLabels?.ToList().Count > 1)
                                    {
                                        <div class="tools-label">
                                            <span class="material-symbols-outlined md-20">
                                                label
                                            </span>
                                            <div>
                                                @task?.TaskLabels.ToList().Count
                                            </div>
                                        </div>
                                    }
                                    else if (task?.TaskLabels?.ToList().Count == 1)
                                    {
                                        @foreach (var taskLabel in task?.TaskLabels?.ToList())
                                        {
                                            <div class="tools-label">
                                                <span class="material-symbols-outlined md-20">
                                                    label
                                                </span>
                                                <div class="nowrap-ellipsis">
                                                    @taskLabel?.Label?.Title
                                                </div>
                                                @if (taskLabel != task?.TaskLabels.Last())
                                                {
                                                    <span>,&nbsp</span>
                                                }
                                            </div>
                                        }
                                    } *@
                                </div>
                            </div>
                        </div>
                        <span class="material-symbols-outlined md-24 black js-dropdown-btn" data-dropdown-content-id="task-dropdown-content" data-target-id="@task?.TaskId">
                            more_horiz
                        </span>
                    </a>
                </li>
            }
            <div class="dropdown-content js-dropdown-content" id="task-dropdown-content">
                <a href="#Edit">Edit</a>
                <a href="#Remove">Remove</a>
            </div>
        </ul>
        <ul class="notes">
            @for (int i = 0; i < 30; i++)
            {
                <li class="note nav-link dropdown">
                    <a>
                        <div class="note-content">
                            <div class="nowrap-ellipsis">Note Lorem Ipsum is simply dummy text of the @i</div>
                            <div class="nowrap-ellipsis note-description">Lorem Ipsum is simply dummy text of the printing and typesetting</div>
                            <div class="tools">
                                <div class="d-flex min-width-0">
                                    <span class="material-symbols-outlined md-20 black">
                                        date_range
                                    </span>
                                    <div class="nowrap-ellipsis">
                                        6 nov
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <span class="material-symbols-outlined md-20 black">
                                        label
                                    </span>
                                    <div class="nowrap-ellipsis">
                                        Dev
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="material-symbols-outlined md-24 black js-dropdown-btn" id="note-@i">
                            more_horiz
                        </span>
                    </a>
                    <div class="dropdown-content js-dropdown-content" id="note-@i">
                        <a href="#Edit">Edit</a>
                        <a href="#Remove">Remove</a>
                    </div>
                </li>
            }
        </ul>
        <ul class="tasks-with-notes">
            @for (int i = 0; i < 30; i++)
            {
                <li class="task nav-link dropdown">
                    <a>
                        <span class="material-symbols-outlined md-24 is-done-btn">
                            radio_button_unchecked
                        </span>
                        <div class="task-content">
                            <div class="nowrap-ellipsis">Task Lorem Ipsum is simply dummy text of the @i</div>
                            <div class="tools-row">
                                <div class="d-flex min-width-0">
                                    <span class="material-symbols-outlined md-20 black">
                                        date_range
                                    </span>
                                    <div class="nowrap-ellipsis">
                                        6 nov
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <span class="material-symbols-outlined md-20 black">
                                        label
                                    </span>
                                    <div class="nowrap-ellipsis">
                                        Dev
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="material-symbols-outlined md-24 black js-dropdown-btn" id="task-@i">
                            more_horiz
                        </span>
                    </a>
                    <div class="dropdown-content js-dropdown-content" id="task-@i">
                        <a href="#Edit">Edit</a>
                        <a href="#Remove">Remove</a>
                    </div>
                </li>
                <li class="note nav-link dropdown">
                    <a>
                        <div class="note-content">
                            <div class="nowrap-ellipsis">Note Lorem Ipsum is simply dummy text of the @i</div>
                            <div class="nowrap-ellipsis note-description">Lorem Ipsum is simply dummy text of the printing and typesetting</div>
                            <div class="tools-row">
                                <div class="d-flex min-width-0">
                                    <span class="material-symbols-outlined md-20 black">
                                        date_range
                                    </span>
                                    <div class="nowrap-ellipsis">
                                        6 nov
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <span class="material-symbols-outlined md-20 black">
                                        label
                                    </span>
                                    <div class="nowrap-ellipsis">
                                        Dev
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="material-symbols-outlined md-24 black js-dropdown-btn" id="note-@i">
                            more_horiz
                        </span>
                    </a>
                    <div class="dropdown-content js-dropdown-content" id="note-@i">
                        <a href="#Edit">Edit</a>
                        <a href="#Remove">Remove</a>
                    </div>
                </li>
            }
        </ul>
    </div>
</main>