@model TaskLabelsViewModel

@{
    Layout = "_ModalContentLayout";
    ViewData["SelectLabels"] = new SelectList(Model.Labels, "LabelId", "Title");
    ViewData["SelectProjects"] = new SelectList(Model.Projects, "ProjectId", "Title");
    string projectSelect = JsonSerializer.Serialize(ViewBag.SelectProjects); // [{"Text":"..", "Value":".."},{..},{..}]
    string labelsSelect = JsonSerializer.Serialize(ViewBag.SelectLabels);    // [{"Text":"..", "Value":".."},{..},{..}]
}

@section ModalHeaderContent {
    <div class="modal-header-left">
        <div class="modal-title">Edit</div>
        <div class="select-container">
            <span class="material-symbols-outlined md-24 black select-togle-icon">
                arrow_drop_down
            </span>
            <div class="js-set-projects-virtual-select" data-target-select-list="@projectSelect" data-target-selected="@Model.Task.ProjectId"></div>
        </div>
    </div>
    <span class="material-symbols-outlined md-24 black btn js-dropdown-btn js-update-action-with-id"
          data-dropdown-content-id="current-task-dropdown-content" data-receiver-id="current-task-dropdown-content" data-id="@Model.Task.TaskId">
        more_horiz
    </span>
    <div class="dropdown">
        <div class="dropdown-content js-dropdown-content" id="current-task-dropdown-content">
            <form asp-controller="Tasks" asp-action="Duplicate" class="js-post-partial-form" data-update-partial-id="tasks-notes-list" data-update-action="/Home/TasksNotesPartial">
                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn" type="submit">
                    <span class="material-symbols-outlined md-20">
                        control_point_duplicate
                    </span>Duplicate
                </button>
            </form>
            <form asp-controller="Tasks" asp-action="SoftDelete" class="js-post-partial-form" data-update-partial-id="tasks-notes-list" data-update-action="/Home/TasksNotesPartial">
                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn red" type="submit">
                    <span class="material-symbols-outlined md-20">
                        delete
                    </span>Move to bin
                </button>
            </form>
        </div>
    </div>
}

<form method="post" asp-controller="Tasks" asp-action="EditPartial" asp-route-returnUrl="@ViewData["ReturnUrl"]"
      class="js-post-partial-form" data-target-modal-id="edit-task-modal" 
      data-update-partial-id="tasks-notes-list" data-update-action="/Home/TasksNotesPartial">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="Task.TaskId" />
    <input type="hidden" asp-for="Task.IsDeleted" />
    <input type="hidden" asp-for="Task.ProjectId" />
    <input type="hidden" asp-for="Task.IsCompleted" />

    <div class="task-body">
        <div class="task-toggler">
            @if (Model.Task.IsCompleted)
            {
                <span class="material-symbols-outlined md-24 js-task-is-done">
                    radio_button_checked
                </span>
            }
            else
            {
                <span class="material-symbols-outlined md-24 js-task-is-done">
                    radio_button_unchecked
                </span>
            }
        </div>
        <div class="task-content">
            <div>
                <textarea asp-for="Task.Title" placeholder="Task name" class="input-borderless js-textarea-auto" rows="1"></textarea>
                <span asp-validation-for="Task.Title"></span>
            </div>
            <div class="d-flex">
                <span class="material-symbols-outlined md-20 task-description-icon">
                    subject
                </span>
                <textarea asp-for="Task.Description" placeholder="Description" class="input-borderless js-textarea-auto" rows="1"></textarea>
                <span asp-validation-for="Task.Description"></span>
            </div>
            <div class="task-tools mt-1">
                <div class="date-time-picker js-date-time-picker">
                    <div class="picker-preview date-picker js-date-picker">
                        <span class="material-symbols-outlined md-20 black picker-preview-icon">
                            date_range
                        </span>
                        <input asp-for="Task.DueDate" class="picker-input js-picker-input" placeholder="Date/time" />
                        <span class="material-symbols-outlined md-20 black picker-clear-icon js-clear-input">
                            close
                        </span>
                        <span asp-validation-for="Task.DueDate"></span>
                    </div>
                    <div class="picker-preview time-picker js-time-picker">
                        <span class="material-symbols-outlined md-20 black picker-preview-icon">
                            access_time
                        </span>
                        <input asp-for="Task.DueTime" class="picker-input js-picker-input" placeholder="Time" />
                        <span class="material-symbols-outlined md-20 black picker-clear-icon js-clear-input">
                            close
                        </span>
                        <span asp-validation-for="Task.DueTime"></span>
                    </div>
                </div>
                <div class="labels-section select-container">
                    <input type="hidden" asp-for="SelectedLabelsId" />
                    <span class="material-symbols-outlined md-24 black select-togle-icon">
                        label
                    </span>
                    <div id="select-labels-edit"></div>
                    <div class="js-set-labels-virtual-select" data-target-select-list="@labelsSelect" data-target-selected="@Model.SelectedLabelsId"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="btns-ok-cancel mt-3">
        <button class="btn btn-cancel js-close" type="button">Cancel</button>
        <button class="btn btn-ok" type="submit">Ok</button>
    </div>
</form>