@model GeneralViewModel

@{
    string updateUrl = ViewData["ReturnUrl"] + "&isGetPartial=true";
    string updateTargetId = "main";

    // sort value
    var dateOrder = TempData["DateOrder"] as string;
    string? hideCompletedString = TempData["HideCompleted"]?.ToString()?.ToLower();
    Boolean.TryParse(hideCompletedString, out bool hideCompleted);
    TempData.Keep("DateOrder");
    TempData.Keep("HideCompleted");

    if (dateOrder == "ascending")
    {
        dateOrder = "descending";
    }
    else if (dateOrder == "descending")
    {
        dateOrder = "ascending";
    }
    if (hideCompleted == false)
    {
        hideCompleted = true;
    }
    else if (hideCompleted == true)
    {
        hideCompleted = false;
    }
}

<div class="main-header">
    <div class="main-header-left">
        <div class="main-header-title nowrap-ellipsis">@ViewData["DisplayDataTitle"]</div>
        <div class="main-header-buttons">
            <form asp-controller="Tasks" asp-action="CreatePartial" method="get" class="js-get-modal-ajax" data-target-modal-id="create-task-modal">
                <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn btn-action" type="submit" title="Add task">
                    <span class="material-symbols-outlined md-30">
                        add_task
                    </span>
                </button>
            </form>
            <form asp-controller="Notes" asp-action="CreatePartial" method="get" class="js-get-modal-ajax" data-target-modal-id="create-note-modal">
                <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <button class="btn btn-action" type="submit" title="Add note">
                    <span class="material-symbols-outlined md-30">
                        note_add
                    </span>
                </button>
            </form>
            <button class="btn btn-action js-dropdown-btn" data-dropdown-content-id="filter-dropdown-content" title="Filter">
                <span class="material-symbols-outlined md-30">
                    filter_alt
                </span>
            </button>
            <div class="dropdown-content js-dropdown-content" id="filter-dropdown-content">
                <form asp-controller="Home" asp-action="ChangeTempDataValue" class="js-post-modal-with-partial-update-ajax"
                      data-update-action="@updateUrl" data-update-partial-id="@updateTargetId">
                    <input hidden type="text" name="tempDataName" value="DateOrder">
                    <input hidden type="text" name="tempDataValue" value="@dateOrder">
                    <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                    <button class="btn" type="submit">
                        <span class="material-symbols-outlined md-24">
                            swap_vert
                        </span>
                        @if (dateOrder == "descending")
                        {
                            @Html.Raw("Due date (asc)")
                        }
                        else
                        {
                            @Html.Raw("Due date (desc)")
                        }
                    </button>
                </form>
                <form asp-controller="Home" asp-action="ChangeTempDataValue" class="js-post-modal-with-partial-update-ajax"
                      data-update-action="@updateUrl" data-update-partial-id="@updateTargetId">
                    <input hidden type="text" name="tempDataName" value="HideCompleted">
                    <input hidden type="text" name="tempDataValue" value="@hideCompleted.ToString()">
                    <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                    <button class="btn" type="submit">
                        @if (hideCompleted == true)
                        {
                            <span class="material-symbols-outlined md-24">
                                visibility
                            </span>
                        }
                        else
                        {
                            <span class="material-symbols-outlined md-24">
                                visibility_off
                            </span>
                        }
                        Completed
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="main-header-right">
    </div>
</div>
<div class="main-container">
    <ul class="tasks">
        @foreach (var elem in Model.TdnElements)
        {
            if (elem is ToDoAndNotes3.Models.Task task)
            {
                <li class="task nav-link dropdown" title="@task.Description">
                    <a class="link js-update-action-with-id" data-receiver-id="edit-task-form" data-id="@task.TaskId">
                        <div class="task-toggler">
                            <form asp-controller="Tasks" asp-action="ToggleState" asp-route-id="@task.TaskId" class="js-post-modal-with-partial-update-ajax"
                                  data-update-partial-id="@updateTargetId" data-update-action="@updateUrl">
                                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                                <button class="btn btn-clean" type="submit" onclick="event.stopPropagation()">
                                    @if (task.IsCompleted)
                                    {
                                        <span class="material-symbols-outlined md-24">
                                            radio_button_checked
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="material-symbols-outlined md-24">
                                            radio_button_unchecked
                                        </span>
                                    }
                                </button>
                            </form>
                        </div>
                        <div class="task-content">
                            <div class="min-width-0">
                                @if (task.IsCompleted)
                                {
                                    <div class="nowrap-ellipsis line-through">@task.Title</div>
                                }
                                else
                                {
                                    <div class="nowrap-ellipsis">@task.Title</div>
                                }
                                <div class="tools">
                                    <div class="date-tools">
                                        @if (task?.DueDate != null)
                                        {
                                            <span class="material-symbols-outlined md-20">
                                                date_range
                                            </span>
                                            <div class="nowrap-ellipsis">
                                                @task.DueDate
                                            </div>
                                        }
                                        @if (task?.DueTime != null)
                                        {
                                            <span>&nbsp</span>
                                            <span class="material-symbols-outlined md-20">
                                                access_time
                                            </span>
                                            <div class="nowrap-ellipsis">
                                                @task.DueTime
                                            </div>
                                        }
                                    </div>
                                    <div class="label-tools">
                                        @foreach (var taskLabel in task?.TaskLabels?.ToList())
                                        {
                                            if (taskLabel.Equals(task?.TaskLabels.First()))
                                            {
                                                <span class="material-symbols-outlined md-20">
                                                    label
                                                </span>
                                            }
                                            <div class="label-tool-title js-label-tool-title">
                                                <div class="nowrap-ellipsis">
                                                    @taskLabel?.Label?.Title
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="coral d-flex min-width-0">
                                <span class="material-symbols-outlined md-18">
                                    work_outline
                                </span>
                                <div class="nowrap-ellipsis project-title">@task?.Project?.Title</div>
                            </div>
                        </div>
                        <div class="ellipsis">
                            <span class="material-symbols-outlined md-24 black js-dropdown-btn js-update-action-with-id"
                                  data-dropdown-content-id="task-dropdown-content" data-receiver-id="task-dropdown-content" data-id="@task?.TaskId">
                                more_horiz
                            </span>
                        </div>
                    </a>
                </li>
            }
        }
    </ul>

    <ul class="notes">
        @foreach (var elem in Model.TdnElements)
        {
            if (elem is Note note)
            {
                <li class="note nav-link dropdown">
                    <a class="link js-update-action-with-id" data-receiver-id="edit-note-form" data-id="@note.NoteId">
                        <div class="note-content">
                            <div class="min-width-0">
                                <div class="nowrap-ellipsis">@note.Title</div>
                                <div class="nowrap-ellipsis note-description js-quill-html-to-text">@note?.ShortDescription</div>
                                <div class="tools">
                                    <div class="date-tools">
                                        @if (note?.DueDate != null)
                                        {
                                            <span class="material-symbols-outlined md-20">
                                                date_range
                                            </span>
                                            <div class ="nowrap-ellipsis">
                                                @note.DueDate
                                            </div>
                                        }
                                        @if (note?.DueTime != null)
                                        {
                                            <span>&nbsp</span>
                                            <span class="material-symbols-outlined md-20">
                                                access_time
                                            </span>
                                            <div class="nowrap-ellipsis">
                                                @note.DueTime
                                            </div>
                                        }
                                    </div>
                                    <div class="label-tools">
                                        @foreach (var noteLabel in note?.NoteLabels?.ToList())
                                        {
                                            if (noteLabel.Equals(note?.NoteLabels.First()))
                                            {
                                                <span class="material-symbols-outlined md-20">
                                                    label
                                                </span>
                                            }
                                            <div class="label-tool-title js-label-tool-title">
                                                <div class="nowrap-ellipsis">
                                                    @noteLabel?.Label?.Title
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="coral d-flex min-width-0">
                                <span class="material-symbols-outlined md-18">
                                    work_outline
                                </span>
                                <div class="nowrap-ellipsis fs-14">@note?.Project?.Title</div>
                            </div>
                        </div>
                        <div class="ellipsis">
                            <span class="material-symbols-outlined md-24 black js-dropdown-btn js-update-action-with-id"
                                  data-dropdown-content-id="note-dropdown-content" data-receiver-id="note-dropdown-content" data-id="@note?.NoteId">
                                more_horiz
                            </span>
                        </div>
                    </a>
                </li>
            }
        }
    </ul>

    <ul class="tasks-with-notes">
        @foreach (var elem in Model.TdnElements)
        {
            if (elem is ToDoAndNotes3.Models.Task task)
            {
                <li class="task nav-link dropdown" title="@task.Description">
                    <a class="link js-update-action-with-id" data-receiver-id="edit-task-form" data-id="@task.TaskId">
                        <div class="task-toggler">
                            <form asp-controller="Tasks" asp-action="ToggleState" asp-route-id="@task.TaskId" class="js-post-modal-with-partial-update-ajax"
                                  data-update-partial-id="@updateTargetId" data-update-action="@updateUrl">
                                <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
                                <button class="btn btn-clean" type="submit" onclick="event.stopPropagation()">
                                    @if (task.IsCompleted)
                                    {
                                        <span class="material-symbols-outlined md-24">
                                            radio_button_checked
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="material-symbols-outlined md-24">
                                            radio_button_unchecked
                                        </span>
                                    }
                                </button>
                            </form>
                        </div>
                        <div class="task-content">
                            <div class="min-width-0">
                                @if (task.IsCompleted)
                                {
                                    <div class="nowrap-ellipsis line-through">@task.Title</div>
                                }
                                else
                                {
                                    <div class="nowrap-ellipsis">@task.Title</div>
                                }
                                <div class="tools">
                                    <div class="date-tools">
                                        @if (task?.DueDate != null)
                                        {
                                            <span class="material-symbols-outlined md-20">
                                                date_range
                                            </span>
                                            <div class="nowrap-ellipsis">
                                                @task.DueDate
                                            </div>
                                        }
                                        @if (task?.DueTime != null)
                                        {
                                            <span>&nbsp</span>
                                            <span class="material-symbols-outlined md-20">
                                                access_time
                                            </span>
                                            <div class="nowrap-ellipsis">
                                                @task.DueTime
                                            </div>
                                        }
                                    </div>
                                    <div class="label-tools">
                                        @foreach (var taskLabel in task?.TaskLabels?.ToList())
                                        {
                                            if (taskLabel.Equals(task?.TaskLabels.First()))
                                            {
                                                <span class="material-symbols-outlined md-20">
                                                    label
                                                </span>
                                            }
                                            <div class="label-tool-title js-label-tool-title">
                                                <div class="nowrap-ellipsis">
                                                    @taskLabel?.Label?.Title
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="coral d-flex min-width-0">
                                <span class="material-symbols-outlined md-18">
                                    work_outline
                                </span>
                                <div class="nowrap-ellipsis project-title">@task?.Project?.Title</div>
                            </div>
                        </div>
                        <div class="ellipsis">
                            <span class="material-symbols-outlined md-24 black js-dropdown-btn js-update-action-with-id"
                                  data-dropdown-content-id="task-dropdown-content" data-receiver-id="task-dropdown-content" data-id="@task?.TaskId">
                                more_horiz
                            </span>
                        </div>
                    </a>
                </li>
            }
            if (elem is Note note)
            {
                <li class="note nav-link dropdown">
                    <a class="link js-update-action-with-id" data-receiver-id="edit-note-form" data-id="@note.NoteId">
                        <div class="note-content">
                            <div class="min-width-0">
                                <div class="nowrap-ellipsis">@note.Title</div>
                                <div class="nowrap-ellipsis note-description js-quill-html-to-text">@note?.ShortDescription</div>
                                <div class="tools">
                                    <div class="date-tools">
                                        @if (note?.DueDate != null)
                                        {
                                            <span class="material-symbols-outlined md-20">
                                                date_range
                                            </span>
                                            <div class="nowrap-ellipsis">
                                                @note.DueDate
                                            </div>
                                        }
                                        @if (note?.DueTime != null)
                                        {
                                            <span>&nbsp</span>
                                            <span class="material-symbols-outlined md-20">
                                                access_time
                                            </span>
                                            <div class="nowrap-ellipsis">
                                                @note.DueTime
                                            </div>
                                        }
                                    </div>
                                    <div class="label-tools">
                                        @foreach (var noteLabel in note?.NoteLabels?.ToList())
                                        {
                                            if (noteLabel.Equals(note?.NoteLabels.First()))
                                            {
                                                <span class="material-symbols-outlined md-20">
                                                    label
                                                </span>
                                            }
                                            <div class="label-tool-title js-label-tool-title">
                                                <div class="nowrap-ellipsis">
                                                    @noteLabel?.Label?.Title
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="coral d-flex min-width-0">
                                <span class="material-symbols-outlined md-18">
                                    work_outline
                                </span>
                                <div class="nowrap-ellipsis fs-14">@note?.Project?.Title</div>
                            </div>
                        </div>
                        <div class="ellipsis">
                            <span class="material-symbols-outlined md-24 black js-dropdown-btn js-update-action-with-id"
                                  data-dropdown-content-id="note-dropdown-content" data-receiver-id="note-dropdown-content" data-id="@note?.NoteId">
                                more_horiz
                            </span>
                        </div>
                    </a>
                </li>
            }
        }
    </ul>
</div>

<div id="create-task-modal" class="modal js-modal">
</div>
<div id="create-note-modal" class="modal js-modal">
</div>
<div id="edit-task-modal" class="modal js-modal">
</div>
<div id="delete-task-modal" class="modal js-modal">
</div>
<div id="edit-note-modal" class="modal js-modal">
</div>
<div id="delete-note-modal" class="modal js-modal">
</div>

<div class="dropdown-content js-dropdown-content" id="note-dropdown-content">
    <form id="edit-note-form" asp-controller="Notes" asp-action="EditPartial" method="get" class="js-get-modal-ajax"
          data-target-modal-id="edit-note-modal">
        <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
        <button class="btn" type="submit">
            <span class="material-symbols-outlined md-20">
                edit
            </span>Edit
        </button>
    </form>
    <form asp-controller="Notes" asp-action="Duplicate" class="js-post-modal-with-partial-update-ajax" data-update-partial-id="@updateTargetId"
          data-update-action="@updateUrl">
        <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
        <button class="btn" type="submit">
            <span class="material-symbols-outlined md-20">
                control_point_duplicate
            </span>Duplicate
        </button>
    </form>
    <form asp-controller="Notes" asp-action="SoftDelete" class="js-post-modal-with-partial-update-ajax" data-update-partial-id="@updateTargetId"
          data-update-action="@updateUrl">
        <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
        <button class="btn red" type="submit">
            <span class="material-symbols-outlined md-20">
                delete
            </span>Move to bin
        </button>
    </form>
</div>
<div class="dropdown-content js-dropdown-content" id="task-dropdown-content">
    <form id="edit-task-form" asp-controller="Tasks" asp-action="EditPartial" method="get" class="js-get-modal-ajax"
          data-target-modal-id="edit-task-modal">
        <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
        <button class="btn" type="submit">
            <span class="material-symbols-outlined md-20 black">
                edit
            </span>Edit
        </button>
    </form>
    <form asp-controller="Tasks" asp-action="Duplicate" class="js-post-modal-with-partial-update-ajax" data-update-partial-id="@updateTargetId"
          data-update-action="@updateUrl">
        <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
        <button class="btn" type="submit">
            <span class="material-symbols-outlined md-20 black">
                control_point_duplicate
            </span>Duplicate
        </button>
    </form>
    <form asp-controller="Tasks" asp-action="SoftDelete" class="js-post-modal-with-partial-update-ajax" data-update-partial-id="@updateTargetId"
          data-update-action="@updateUrl">
        <input hidden type="text" name="returnUrl" value="@ViewData["ReturnUrl"]">
        <button class="btn red" type="submit">
            <span class="material-symbols-outlined md-20">
                delete
            </span>Move to bin
        </button>
    </form>
</div>

